body, html {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Arial', sans-serif;
  background-color: #f4f4f9;
}

h1 {
  color: #333;
  text-align: center;
}

#datosContainer {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  margin: 20px 0;
}

#mapa {
  height: 400px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-right: 10px;
  font-size: 16px;
}

button:hover {
  background-color: #0056b3;
}

p {
  margin: 5px 0;
}

/* Sidebar styles */
.sidebar {
  height: 100%;
  width: 0; /* Start with zero width */
  position: fixed; 
  z-index: 1; 
  top: 0; 
  left: 0;
  background-color: #111; /* Dark background for the sidebar */
  overflow-x: hidden; 
  transition: 0.5s; 
  padding-top: 60px;
}

/* Sidebar open state */
.sidebar.open {
  width: 250px; /* Width of the open sidebar */
}

/* Main content styles */
.main-content {
  transition: margin-left 0.5s;
}

/* Shifted state of the main content when sidebar is open */
.main-content.shifted {
  margin-left: 250px;
}

/* Sidebar close button */
.closebtn {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
  color: white;
}

/* Sidebar content styles */
#sidebar p, #sidebar button {
  color: white; /* White text for all elements inside the sidebar */
  margin: 20px 0; /* Increased margin for vertical spacing */
  padding: 0 20px; /* Padding for content alignment */
}

/* Style for the last button to make it clear it's a button */
#sidebar button:last-child {
  border: 1px solid white; /* White border for the button */
  padding: 10px;
  margin-top: 20px; /* Extra space above the button */
  background-color: transparent; /* Transparent background */
  display: block; /* Display as block to fill width */
}

/* Toggle button to open/close sidebar */
#toggleSidebarButton {
  background-color: #007bff; 
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  position: fixed;
  z-index: 2;
  top: 10px;
  left: 10px;
}

#toggleSidebarButton:hover {
  background-color: #0056b3;
}

@media screen and (max-width: 768px) {
  .sidebar.open { width: 100%; }
  .main-content.shifted { margin-left: 0; }
}
